@charset "UTF-8";

html {
	font-size: 62.5%;
}
body {
	margin: 0;
}
footer {
	padding: 15px 0;
	background: #292929; /*任意の色*/
	color: #fff; /*任意の色*/
  font-size: 1.2rem; /*12px相当*/
	text-align: center;
}
address {
  font: inherit;
  line-height: 20px;
}
@media print, screen and (min-width: 768px) {
  footer { padding: 25px 0; }
}
